/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
h1 {
  margin: 0 0 10px;
  font-size: 5em;
  color: #A9A9A9;
  border-bottom: 1px solid #A9A9A9;
}

h2 {
  font-size: 2em;
  color: #707070;
}

p  {
	color: #555;
	font-size: 1em;
	margin: 0 0 20px 0;
}

footer {
  text-align: right;
  font-size: 10px;
}

img {
  border: 5px solid #A9A9A9;
}

press img {
  margin: 0 0 10px;
  padding: 1px;
}